.svg-facebook-dims {
	width: 430.1px;
	height: 430.1px;
}

.svg-instagram-dims {
	width: 97.4px;
	height: 97.4px;
}

.svg-twitter-dims {
	width: 410.16px;
	height: 410.16px;
}

.svg-youtube-dims {
	width: 461px;
	height: 461px;
}

