%svg-common {
	background: url("../img/sprite-5f205453.svg") no-repeat;
}

.svg-twitter {
	@extend %svg-common;
	background-position: 99.8181188290317% 0;
	width: 410.16px;
	height: 410.16px;
}

.svg-youtube {
	@extend %svg-common;
	background-position: 0 0;
	width: 461px;
	height: 461px;
}

